/* banner */
.banner {
    background-color: #FFFF8A;
    height: 25px;
    text-align: center;
}

h5 {
    margin-top: 0;
    margin-bottom: 0;
    color: #021122;
    padding-top: 5px;
}

/* Navbar */
.navbar {
    background-color: #021122;
    margin-bottom: 0;
    height: 100px;
}

.navbar__logo {
    max-width: 100px;
    margin-top: -16px;
}

.navbar__navigation>li>a {
    color: #EE9114;
}

.navbar__navigation {
    margin: 25px;
}

/* Header */
.header_cobremug {
    background-image: url(../img/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.value_prop {
    display: flex;
}

.img-value-prop {
    background-image: url(../img/17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    /* margin: 20px; */
}

blockquote {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    padding-top: 10vh;

}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
